body {
    margin: 0;
    padding: 0;

    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    color: #000000;
    text-transform: uppercase;

    background-color: #f2f2f2;

}


.center {
  text-align: center;

}


.inner .button,
.button {
  color: #ffffff;
  background-color: #81b3d2;

  text-transform: uppercase;

  border: 0;

}



.social-links .twitter:hover,
.social-links .fb:hover,
.social-links .youtube:hover,
.button:hover  {
  background-color: rgba( 102, 158, 192, 1);

}

.social-links .twitter:active,
.social-links .fb:active,
.social-links .youtube:active,
.inner .button:active,
.button:active {
  color: rgba(136, 182, 209, 0.3);
  background-color: #5496bd;

}

.main-header {
  line-height: 24px;
  font-weight: 700;

  background-color: #ffffff;

  box-shadow: 0 0 5px rgba( 0, 0, 0, 0.2);

}

.main-header ul {
  list-style: none;

}

.main-header a {
  line-height: 26px;

  color: inherit;
  text-decoration: none;

}

.main-header a.active {
  color: #766357;

}

.hotel-item a:hover,
.main-header a:hover {
  color: rgba(129, 179, 210, 1);

}

.hotel-item a:active,
.main-header a:active {
  color: rgba(0, 0, 0, 0.3);

}

.filter-hotels {
  color: #ffffff;
  background-color: #4378a4;

  background-position: top;
  background-image: url("../img/filter-background.jpg");
  background-repeat: no-repeat;

  box-shadow: 0 0 5px rgba( 0, 0, 0, 0.2);

}

.filter-hotels fieldset {
 border: none;
}

.filter-hotels ul {
  list-style: none;
}

.filter-hotels legend {
  font-size: 16px;
  font-weight: 700;
}

.filter-hotels .price {
  border: 2px solid #ffffff;
  border-radius: 2px;

}

.found-hotels {
  background-color: #ffffff;
  box-shadow: 0 0 5px rgba( 0, 0, 0, 0.2);
}

.found-hotels ul {
  list-style: none;

}

.found-hotels li {
 font-size: 12px;
 line-height: 18px;

}

.by-price,
.by-type,
.by-rating {
  color: inherit;
  text-decoration: underline;
  text-decoration-color: #81b3d2;
  text-decoration-style: dashed;

  font-size: 12px;
  line-height: 18px;

}

.found-hotels a.active {
  color: #81b3d2;
  text-decoration: none;
}

.found-hotels .by-type:hover,
.found-hotels .by-rating:hover {
  color:  #81b3d2;
}

.sort a.by-type:active,
.sort a.by-rating:active {
  color:  #000000;
  text-decoration: none;
}


.found-hotels p {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;

}

.found-hotels h3 {
  font-size: 12px;
  font-weight: 18px;

}

.filter-hotels .filter-button {
 background-color: transparent;
 border: 2px solid #ffffff;
 border-radius: 2px;

}

.filter-hotels .filter-button:hover {
 color: #000000;
 background-color: #ffffff;
 border: 2px solid #ffffff;
 border-radius: 2px;

}

.hotel-list {
  list-style: none;

}


.hotel-item {
  background-color: #ffffff;

  box-shadow: 0 0 5px rgba( 0, 0, 0, 0.2);

}

.hotel-item h3 {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;

}

.hotel-item a {
  color: inherit;
  text-decoration: none;
}

.hotel-item .accommodation-type,
.hotel-item .accommodation-price {
  color: #333333;
  line-height: 26px;

}

.button.details,
.button.book-now {
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
}

.button.book-now {
 background-color: #766357;

}

.button.details:hover {
  color: rgba(255, 255, 255, 1);
}

.button.book-now:hover {
 color: rgba(255, 255, 255, 1);
 background-color: rgba(96, 78, 67, 1);

}

.button.book-now:active {
 color: rgba(255, 255, 255, 0.3);
 background-color: #503e33;

}

.button.details:active {
   color: rgba(255, 255, 255, 0.3);

}

.rating-wrapper {
  text-align: right;

}

.rating-wrapper ul {
  list-style: none;
}

.rating-number {
 color: #333333;
 background-color: #f2f2f2;
}

.welcome-sedona {
  background-color: #ffffff;

  background-position: bottom center,
                       top center;
  background-image: url("../img/polygon.svg"),
                    url("../img/background-img.jpg");
  background-repeat: no-repeat,
                     no-repeat;

  box-shadow: 0 0 5px rgba( 0, 0, 0, 0.2);

}

.index h1 {
  background-color: #ffffff;

  font-size: 21px;
  font-weight: 700;

  box-shadow: 1px 0 0 rgba( 0, 0, 0, 0.2),
             -1px 0 0 rgba( 0, 0, 0, 0.2);

}


.advantages {
  background-color: #ffffff;

  box-shadow: 0 0 5px rgba( 0, 0, 0, 0.2);

}

.advantages p {
  color: #333333;
  line-height: 26px;

}

.advantages ul {
  list-style: none;

}

.advantages h3 {
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;

}

.advantages-list p {
  line-height: 21px;

}

.advantages-list .advantage-first,
.advantages-list .advantage-second {
  color: #ffffff;
  background-color: #81b3d2;

}

.advantage-first p,
.advantage-second p {
  color: #ffffff;

}

.advantage-first {
  text-align: left;

}

.advantage-first .advantage-wrap {
  background-position: top right;
  background-image: url("../img/index-sedona-img.jpg");
  background-repeat: no-repeat;

}

.advantage-second {
  text-align: right;

}

.advantage-second .advantage-wrap {
 background-position: top left;
 background-image: url("../img/devils-bridge.jpg");
 background-repeat: no-repeat;

}

.advantage .house-icon {

 background-image: url("../img/house-icon.svg");
 background-repeat: no-repeat;

}

.advantage .burger-icon {

 background-image: url("../img/burger-icon.svg");
 background-repeat: no-repeat;

}

.advantage .present-icon {

 background-image: url("../img/present-icon.svg");
 background-repeat: no-repeat;

}
.advantages-list .advantage-third,
.advantages-list .advantage-fourth,
.advantages-list .advantage-fifth {
 background-color: #eeeeee;
}

.hotel-search {
  background-color: #ffffff;

  box-shadow: 0 0 5px rgba( 0, 0, 0, 0.2);

}

.hotel-search b {
  font-size: 30px;
  line-height: 36px;

}

.hotel-search p {
  line-height: 24px;

}

.hotel-search p:nth-of-type(2) {
color: #333333;

}

.search-form p:nth-of-type(2) {
  color: #000000;

}

.hotel-search .search-button {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;

  color: #ffffff;
  background-color: #766357;

  text-transform: uppercase;
  border: 0;
}

.hotel-search .search-button:hover {
  background-color: rgba(96, 78, 67, 1);

}

.hotel-search .search-button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;

}

form .search-form {
  border: none;

}

.search-form p {
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;

}


.search-form input {
  font: inherit;
  text-transform: uppercase;

  background-color: #f2f2f2;

  border: 0;

}

.search-form input:focus {
background-color: #ffffff;

border: 1px solid #ebebeb;

}

input::-moz-placeholder {
  color: #000000;
}

input::-webkit-input-placeholder {
  color: #000000;
}

.to-find {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}


.main-footer {
  background-color: #ffffff;

  box-shadow: 0 0 5px rgba( 0, 0, 0, 0.2);

}

.main-footer p:first-child {
 text-align: left;

 font-size: 21px;
 line-height: 26px;
 font-weight: 700;

}

.main-footer p:last-child {
 text-align: right;

 font-size: 14px;
 line-height: 26px;

}

.main-footer ul {
 list-style: none;

}

.social-links .twitter,
.social-links .fb,
.social-links .youtube {
  background-color: #81b3d2;
}
